<% provide(:title, "Post") %>
<div class="row">
  <div class="col-md-8">
    <%= image_tag @post.display_image if @post.image.attached? %>
    <%= @post.content %>
  </div>
  <div id="like-btn-<%= @post.id %>">
   <%= render 'likes/like', post: @post %>
  </div>
  <div class="row">
    <ul>
        <li class="comment-create">
            <h3 class="text-left title">Comments</h3>
        </li>
        <li id="comments_area">
            <%= render partial: 'comments/index', locals: { comments: @comments } %>
        </li>
    </ul>
    <hr>
    <% if user_signed_in? %>
        <div class="comment-create">
            <%= render partial: 'comments/form', locals: { comment: @comment, post: @post } %>
        </div>
    <% end %>
  </div>
    <%= link_to "back", :back %>
</div>